<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Clock Angles</title>
</head>
<body>
    <div class='container'>
        <h1>Calculate the angle between minute and hour hands on a clock by entering a time below. </h1>
        <p>Please enter time as hour:minutes. ie: 12:30</p>
        <form action='/angle'>
            <div class='form-group'>
              <label for='time'>Let's count to:</label>
              <input id='time' name='time' class='form-control' type='text'>
            </div>
            <button type='submit' class='btn-success'>Calculate angle!</button>
        </form>

        <div class="well">
            {{ result }}&deg;
        </div>
    </div>
</body>
</html>
